---
import { LANGUAGES } from "@/config/languages";

const languages = Object.entries(LANGUAGES);

// Detect idioma actual por URL
const pathname = Astro.url.pathname;

const currentLang =
  languages.find(([_, lang]) => lang.path !== "/" && pathname.startsWith(lang.path))?.[0]
  ?? languages.find(([_, lang]) => lang.default)?.[0]
  ?? "es";

const current = LANGUAGES[currentLang];
---

<div class="flag-dropdown">
  <button
    class="flag-btn"
    id="flagBtn"
    aria-label="Change language"
    aria-haspopup="listbox"
    aria-expanded="false"
  >
    <img
      id="currentFlag"
      src={`https://kapowaz.github.io/circle-flags/flags/${current.flag}.svg`}
      alt={current.label}
      width="48"
      height="48"
      fetchpriority="high"
    />
  </button>

  <ul
    class="flag-list border bg-slate-100 border-slate-300 dark:bg-slate-800 dark:border-slate-600 shadow-[0_10px_25px_rgba(0,0,0,0.3)] dark:shadow-[0_10px_25px_rgba(255,255,255,0.3)]"
    id="flagList"
    role="listbox"
    aria-label="Language selector"
  >
    {languages
      .filter(([key]) => key !== currentLang)
      .map(([key, lang]) => (
        <li role="option">
          <a href={lang.path}>
            <img
              src={`https://kapowaz.github.io/circle-flags/flags/${lang.flag}.svg`}
              alt={lang.label}
              width="40"
              height="40"
            />
          </a>
        </li>
      ))}
  </ul>
</div>

<script>
  const dropdown = document.querySelector(".flag-dropdown");
  const btn = document.getElementById("flagBtn");

  btn.addEventListener("click", (e) => {
    e.stopPropagation();
    const isOpen = dropdown.classList.toggle("open");
    btn.setAttribute("aria-expanded", isOpen);
  });

  document.addEventListener("click", () => {
    dropdown.classList.remove("open");
    btn.setAttribute("aria-expanded", "false");
  });
</script>


<style>
  .flag-dropdown {
    position: relative;
    width: 48px;
  }

  .flag-btn {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding: 0;
    background: transparent;
  }

  .flag-btn img,
  .flag-list img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  .flag-list {
    position: absolute;
    top: 56px;
    left: -5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    border-radius: 999px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.2s ease;
    z-index: 50;
  }

  .flag-dropdown.open .flag-list {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }

  .flag-list li {
    list-style: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.15s ease;
  }

  .flag-list li:hover {
    transform: scale(1.1);
  }

  .flag-list a {
    display: block;
    width: 100%;
    height: 100%;
  }
</style>
