---
import "@/styles/global.css";
import "@fontsource-variable/onest";

const { title, basics } = Astro.props;

import ThemeToogle from "@/components/ThemeToogle.astro";
import LanguageSelector from "@/components/LanguageSelector.astro";

const { image, banner, summary, url } = basics;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon-dark.svg"
      media="(prefers-color-scheme: dark)"
    />

    <title>{title}</title>
    <meta name="description" content={summary} />
    <meta name="keywords" content="developer, programmer, software engineer" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta name="og:image" content={banner || image} />
    <meta name="og:url" content={url} />

    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={summary} />
    <meta name="twitter:image" content={banner || image} />
  </head>

  <body>
    <div class="min-h-screen w-full bg-white relative">
      <div class="absolute inset-0 z-0 gradient-orange dark:crimsom-orange"/>
      <span class="fixed top-4 right-4 flex flex-col gap-4 z-10">
        <ThemeToogle />
        <LanguageSelector />
      </span>
      <main class="max-w-4xl mx-auto px-6 py-12">
        <slot />
      </main>
    </div>
  </body>
</html>

<style>
  html,
  body {
    font-family: "Onest", sans-serif;
    color-scheme: light dark;
    scroll-behavior: smooth;
  }
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
